body {
	/* font-size: 28px; */
	width: 80%;
	margin: auto;
}

.dogCard {
	margin: 2rem;
}

.dogCards {
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
}

.comment {
	padding-bottom: 1rem;
}

.commentUser {
	font-weight: bold;
}
.commentUser:hover {
	text-decoration-line: underline;
	cursor: pointer;
}
